
.contact__img{
    background: black;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 17px;
}
.contact__name{
    width:100px ;
    margin-right: 4%;
}
.contact__phone, .contact__company{
    width:120px ;
    margin-right: 5%;
}
.contact__country, .contact__date{
    width:100px ;
    margin-right: 5%;
}
